doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
    style
      include ./style.css
  body
    p <h1>Hi #{name},</h1>
    p <h2>This is just a html test.</h2>